<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Queue</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  {% block head -%}{% endblock -%}
</head>
<style type="text/css">
/* Default navbar height is 50px, thus add 10px more between navbar and container */
body {
  padding-top: 60px;
}
</style>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Event Queue</div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
{% if sid -%}
          <li role="presentation"{% if page == 'home' -%} class="active"{% endif -%}><a href="{{ url_for('main') }}">Home</a></li>
          <li role="presentation"{% if page == 'search' -%} class="active"{% endif -%}><a href="{{ url_for('search') }}">Search</a></li>
          <li role="presentation"><a href="logout">Logout</a></li>
{% else -%}
          <li role="presentation"{% if page == 'login' -%} class="active"{% endif -%}><a href="{{ url_for('login') }}">Login</a></li>
          <li role="presentation"{% if page == 'signup' -%} class="active"{% endif -%}><a href="{{ url_for('signup') }}">Sign Up</a></li>
{% endif -%}
        </ul>
        <a class="navbar-right" rel="home" href="http://www.your.domain.com" title="Your Name">
          <img style="max-height:50px" src="{{ url_for('static', filename = 'images/logo.png') }}">
        </a>
      </div>
    </div>
  </nav>

  <div class="container-desktop">
{% block body -%}
{% endblock -%}
    <hr />
    <footer class="footer text-center"><p>&copy;2016 Jorge Morgado</p></footer>
  </div>
{% with messages = get_flashed_messages() -%}
{% if messages -%}
{# Error modal -#}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
{% for message in messages -%}
          <h4 class="modal-title" style="color:red;">{{ message | safe }}</h4>
{% endfor -%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#errorModal').modal("show");
});
</script>
{% endif -%}
{% endwith -%}
</body>
</html>
